.weather-card {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
  }
  
  .weather-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .weather-card p {
    font-size: 14px;
    color: lightslategray;
    margin: 0;
  }
  